.cuerpo{
    background-color: white;
    align-items: center;
    text-align: center;
}

.catalogo{
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}